version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: cloudops_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  product-service:
    build: ./services/product-service
    ports:
      - "3001:3000"
    environment:
      PORT: 3000
      REDIS_HOST: redis
      REDIS_PORT: 6379
    depends_on:
      - redis

  order-service:
    build: ./services/order-service
    ports:
      - "3002:3000"
    environment:
      PORT: 3000
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: cloudops_db
      DB_USER: postgres
      DB_PASSWORD: postgres
      AWS_REGION: us-east-1
      S3_BUCKET: dummy-bucket
    depends_on:
      - postgres

  cart-service:
    build: ./services/cart-service
    ports:
      - "3003:3000"
    environment:
      PORT: 3000
      REDIS_HOST: redis
      REDIS_PORT: 6379
    depends_on:
      - redis

volumes:
  postgres_data:
